#talkAbstract {
	height: 200px;
	width: 450px;
}

#talkRemark {
	height: 200px;
	width: 450px;
}

#talk-form  input[type="text"] {
	width: 450px;
}

.actions-button  a.view-button,
.actions-button a.view-button:visited {
	color: white;
}

.control-group .help-inline {
	display: block;
	margin-top: 5px;	
}